/* sm */
@media (max-width: 640px) {
.main-qoute {
min-width:200px;
max-width:350px}
.hint-text {font-size:14px}
}

/* md */
@media (min-width: 768px) {
   .main-qoute {
min-width:500px;
max-width:700px}
}
}

/* lg */
@media (min-width: 1024px) {
 
}

/* xl */
@media (min-width: 1280px) {

}

/*xxl */
@media (min-width: 1536px) {}

/* 


*/